.forgot-containers {
    max-width: 500px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the login form horizontally */
    padding: 20px; /* Add padding to the container */
    border: 1px solid #ccc;
    border-radius: 5px;
    /*margin-top: 20px;*/
  }

  .overall-containers {
    max-width: 500px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the login form horizontally */
    padding: 20px; /* Add padding to the container */
    
    /*margin-top: 20px;*/
  }